.jumbotron {
    background-image: url("../../images/pexels-ron-lach-9603489.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    height: 80%;
}

/* Navbar links */
.nav-link {
    /* hex code for charcoal */
    color: #36454F;
    font-size: 18px;
}

/*card*/
.bigger-card {
    width: 500px;
    height: 300px;
  }

  .btn-custom-color {
    color: #004225;
    
  }