.jumbotron {
    background-image: url("../../images/pexels-ron-lach-9603489.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    height: 100vh;
}

p,
h1,
h3,
h5,
a {
    font-family: 'Noto Serif', serif;
}

/* Navbar links */
.nav-link {
    /* hex code for dark green */
    color: #0000FF;
    font-size: 20px;
}

#footer {
    display: flex;
    justify-content: space-evenly;
}

/* Controls anchor links within footer */
#footer a {
    color: #000;
    font-size: 17px;
    background-color: #fafafa;
    border-top: 1px solid #000;
    text-decoration: none;
}

/* Gives icon background color of blue */
.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #0000FF;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

/* Removes any underline from anchors */
.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

/* centers social icons */
.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic {
    background-color: #fafafa;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

/*card*/
.bigger-card {
    width: 500px;
    height: 300px;
}

.btn-custom-color {
    color: #004225;

}