.jumbotron {
    background-image: url("../pexels-ron-lach-8311889.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    height: 40%;
}

/* Navbar links */
.nav-link {
    /* hex code for charcoal */
    color: #36454F;
    font-size: 18px;
}


#footer {
    display: flex;
    justify-content: space-evenly;
}

/* Controls anchor links within footer */
#footer a {
    color: #000;
    font-size: 17px;
    background-color: #fafafa;
    border-top: 1px solid #000;
    text-decoration: none;
}

/* Adds animation to link when user hovers */
#footer a:hover {
    transition-duration: 0.7s;
    box-shadow: 10px 10px 10px blue;
}
